.selectedContainer{
    list-style: none;
    font-size: calc(10px + 0.4vh + 0.2vw);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    max-width: 80vw;
}
.selectedBtn{
    width: 30vw;
    max-width: 300px;
    height: calc(3vh + 1vw);
    font-size: calc(10px + 0.3vh + 0.3vw);
    border-radius: 15px;
    transition: 0.3s ease;
    border: 0;
    background-color: white;
    color: black;
}
.selectedBtn:enabled:hover{
    cursor: pointer;
    background-color: var(--secondary-color);
    color: white;
}
.selectedBtn:disabled{
    opacity: 0.5;
}
.selectedContainer li{
    padding: 1vh;
    cursor: default;
    color: black;
    font-weight: 500;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.selectedContainer strong{
    color: var(--secondary-color);
}