@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button{
  font-family: 'Poppins', sans-serif;
}
html{
  --primary-color: #000110;
  --light-primary-color: #ffffff39;
  --secondary-color: rgb(255, 0, 119);
}

